<!doctype html>
<html lang="en">
	<head>
	<!-- Required meta tags-->
	<meta harset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bs4.css') }}" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	
	<title>Sabermetrics Major League Baseball Analysis</title>
	</head>
	<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Sabermetrics Major League Baseball Analysis</a>
        </div>
      </div>
    </nav>
		<div class="container-fluid">	
			{% for entry in entries %}
			<div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3>{{entries_name[loop.index0]}}</h3>
            </div>
            <div class="panel-body">
              <table align="center" class="data_table">
                {% set index = loop.index0 %}
                <thead>
                  <tr>
                    {% for i in range(entries_columns[index]) %}
                    <td class="data_column_name" style="padding: 5px 10px 5px 5px;"><h4>{{entries_column_names[index][loop.index0]}}</h4></td>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for i in range(entries_rows[index]) %}
                  {% set row = loop.index0 %}
                  <tr class="data_row">
                    {% for j in range(entries_columns[index]) %}
                    <td class="data_cell" style="padding: 5px 10px 5px 5px;">{{entries[index][row][loop.index0]}}</td>
                    {% endfor%}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
			</div>
			{% endfor %} 
		</div>
	</body>
</html>
